{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title mb-4"> Billing Address</h4>
                        <form action="{% url 'place_order' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <select name="" class="form-control" id="">
                                        <option value="">Adama</option>
                                        <option value="">Shashemene</option>
                                        <option value="">Dire Dawa</option>
                                        </select>
                                    <label for="firstName"></label>
                                         {{form.first_name}}
                                </div>
                                <div class="form-goup col-sm-6">
                                    <label for="lastName"></label>
                                    {{form.last_name}}

                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""></label>
                                    {{form.phone}}
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""></label>
                                    {{form.email}}
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""></label>
                                    {{form.address_line1}}
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""></label>
                                    {{form.address_line2}}
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""></label>
                                    {{form.city}}
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for=""></label>
                                    {{form.Region}}
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for=""></label>
                                    {{form.country}}
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for=""></label>
                                    {{form.zipcode}}
                                </div>

                            </div>
                        <!-- </form> -->
                    </div>
                </article>
            </main>
            <aside class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">${{ total }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right">${{tax}}</dd>

                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b">${{final}}</dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{{ orders.product.image.url }}" alt="{{ cart_item.product.product_name}}">
                        </p>
                        <button type="submit" name="submit" class="btn btn-primary btn-block" style="background-color: #206600;">Place Order</button>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </div>

</section>

<style>
    label span {
        color: red;
    }
</style>

{% endblock %}